@include breakpoint(mobile) {
	.#{$component-name} {
        margin: 0;
        max-width: none;
        @include vw-convert-mo(padding, 20 11 100);
        &.is-hide-txt {
            .ma-gallery-wall-item {
                @include vw-convert-mo(margin-bottom, 8);
            }
            .#{$component-name}__more {
                @include vw-convert-mo(margin-top, 33);
            }
        }
        &__more {
            @include vw-convert-mo(margin-top, 41);
            .s-btn-text {
                @include vw-font-size-mo(11);
                &:after {
                    @include vw-convert-mo(width, 9);
                    @include vw-convert-mo(height, 6);
                    @include vw-convert-mo(margin-#{$def-float}, 4);
                }
            }
        }
        &__layer {
            overflow: auto;
            overflow-y: scroll;
            .ma-gallery-wall-slick-wrap {
                display: block;
                height: auto;
                @include vw-convert-mo(padding, 88 18 88);
                box-sizing: border-box;
                &:before {
                    display: none;
                }
            }
            .ma-gallery-wall-slick {
                width: 100%;
                height: 100%;
                .s-slick {
                    .slick-arrow {
                        bottom: auto;
                        @include vw-convert-mo(top, 138);
                        @include vw-convert-mo(width, 22);
                        @include vw-convert-mo(height, 48);
                        &:after {
                            @include vw-convert-mo(width, 8);
                            @include vw-convert-mo(height, 14);
                        }
                    }
                }
            }
            .ma-gallery-wall-item__layer {
                width: auto;                
                &-close {
                    @include vw-convert-mo(top, -28);
                }
            }
        }        
    } 
}